# Spotify Developer Credentials
# Create an app at https://developer.spotify.com/dashboard to get your Client ID
# Set Redirect URI to: http://127.0.0.1:8888/callback (and spotiloop://callback for Android)

SPOTIFY_CLIENT_ID=your_spotify_client_id_here
PORT=8888
HOST=127.0.0.1
